<% layout('layouts/boilerplate') %>

<div class="row mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h1 class="card-title text-center mb-4 mt-1">Notifications</h1>
                    <ul>
                        <% allNotifications.forEach(function(notification) { %>
                        <li><%= notification.username %> made a new contribution to the MVDB</li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>